USE [master]
GO
/****** Object:  Database [Banca]    Script Date: 27/11/2023 11:41:10 a. m. ******/
CREATE DATABASE [Banca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banca', FILENAME = N'/var/opt/mssql/data/Banca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banca_log', FILENAME = N'/var/opt/mssql/data/Banca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banca]
GO
/****** Object:  Table [dbo].[Ahorro]    Script Date: 27/11/2023 11:41:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ahorro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Nota] [varchar](255) NULL,
	[FechaDeRegistro] [datetime] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Ahorro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/11/2023 11:41:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[Rfc] [varchar](50) NOT NULL,
	[CalleYNumero] [varchar](255) NOT NULL,
	[Colonia] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Municipio] [varchar](50) NOT NULL,
	[FechaDeRegistro] [datetime] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 27/11/2023 11:41:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[Id] [int] NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[FechaDeRegistro] [datetime] NOT NULL,
	[AhorroId] [int] NOT NULL,
 CONSTRAINT [PK_Transaccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ahorro]  WITH CHECK ADD  CONSTRAINT [FK_Ahorro_Cliente] FOREIGN KEY([Id])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Ahorro] CHECK CONSTRAINT [FK_Ahorro_Cliente]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Ahorro] FOREIGN KEY([AhorroId])
REFERENCES [dbo].[Ahorro] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Ahorro]
GO
USE [master]
GO
