@model Banca.Entities.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rfc" class="control-label"></label>
                <input asp-for="Rfc" class="form-control" />
                <span asp-validation-for="Rfc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalleYnumero" class="control-label"></label>
                <input asp-for="CalleYnumero" class="form-control" />
                <span asp-validation-for="CalleYnumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                <button type="button" id="buttonBuscarCodigoPostal" class="btn btn-secondary" onclick="buscarCodigoPostal()">Buscar</button>
            </div>

            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <select asp-for="Colonia" class="form-select">
                    <option>Seleccione</option>
                </select>
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function buscarCodigoPostal() {
            var boton = document.getElementById('buttonBuscarCodigoPostal')
            var codigoPostal = document.getElementById("CodigoPostal").value
            //if (codigoPostal.lenght == 5)
                fetch("/Api/CodigosPostales/" + codigoPostal)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        colocarCodigosPostales(data)
                    })                    
        }

        function colocarCodigosPostales(lista) {
            var select = document.getElementById('Colonia')
            select.innerHTML = ""
            //debugger
            if (lista.length == 1) {
                var option = document.createElement('option')
                option.value = lista[0].tipoDeAsentamiento + " " + lista[0].asentamiento
                option.text = lista[0].tipoDeAsentamiento + " " + lista[0].asentamiento
                select.appendChild(option)
            } else {
                var option = document.createElement('option')
                //option.value = ""
                option.text = "Seleccione"
                select.appendChild(option)
                lista.forEach(item => {
                    var option = document.createElement('option')
                    option.value = item.tipoDeAsentamiento + " " + item.asentamiento
                    option.text = item.tipoDeAsentamiento + " " + item.asentamiento
                    select.appendChild(option)
                })
            }
            document.getElementById("Municipio").value = lista[0].alcaldia
            document.getElementById("Estado").value = lista[0].estado
        }
    </script>
}
